// SLIDER

#slider {
	position: fixed;
	width: 100%;
	z-index: -9999;
	visibility: hidden;
	overflow: hidden;
	height: 133px;

	@include media ($medium-screen-up) {
		visibility: visible;
		height: auto;
	}

	.slide {
		position: relative;

		img {
			display: block;
		}
	}

	.caption {
		position: absolute;
		top: 50%;
		margin-top: -42px;
		
		h2 {
			white-space: pre;
			text-transform: uppercase;
			line-height: 1;
			font-size: 38px;
			margin: 0;
			display: block;

			@include media ($large-screen-up) {
				font-size: 60px;
			}
		}

		p {
			font-size: 16px;
			white-space: pre;
			line-height: 1;
			margin-top: 10px;

			@include media ($large-screen-up) {
				font-size: 20px;
			}
		}
	}
}


// Home

#main {
	background: black;
	padding: 60px 0;

	@include media ($medium-screen-up) {
		padding: 100px 0;
	}

	.entry-content, .entry-header {

		h1 {
			margin: 0 0 40px 0;
			color: white;
			text-align: center;
			font-size: 25px;

			@include media ($medium-screen-up) {
				font-size: 35px;
			}

			@include media ($large-screen-up) {
				font-size: 45px;
			}
		}

		p, ul, li, a {
			color: white;
			text-align: center;
			margin-bottom: 15px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.inner {

		.entry-content {

			@include media ($medium-screen-up) {
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
			}

			p, ul, li, a {
				margin-bottom: 15px;
				text-align: left;
			}
		}
	}
}

/*============================
=            FAQs            =
============================*/

#faqs {
	background: #f9f9f9;
	padding: 60px 0;

	@include media ($medium-screen-up) {
		padding: 100px 0;
	}

	.questions {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;

		@include media ($medium-screen-up) {
			columns: 3;
			-webkit-columns: 3;
			-moz-columns: 3;			
		}

		.question {
			display: inline-block;
			margin-bottom: 30px;
			text-align: left;
		}
	}
}


/*================================
=            SERVICES            =
================================*/

#services {
	text-align: center;
	background: white;
	padding: 60px 0;

	@include media ($medium-screen-up) {
		padding: 100px 0;
	}

	h1 {
		margin: 0 0 40px 0;
		text-align: center;
		font-size: 25px;

		@include media ($medium-screen-up) {
			font-size: 35px;
		}

		@include media ($large-screen-up) {
			font-size: 45px;
		}
	}

	.list-of-services {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;

		@include media ($medium-screen-up) {
			columns: 3;
			-webkit-columns: 3;
			-moz-columns: 3;			
		}

		@include media ($large-screen-up) {
			columns: 6;
			-webkit-columns: 6;
			-moz-columns: 6;			
		}

		.service {
			margin-bottom: 30px;
			white-space: pre-line;

			@include media ($large-screen-up) {
				margin-bottom: 0;
			}
			
			.icon {
				background: black;
				width: 110px;
				height: 110px;
				margin: 0 auto 20px auto;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 70px;
				border-radius: 50%;

				@include media ($medium-screen-up) {
					width: 150px;
					height: 150px;
					background-size: 100px;
				}
			}

			h3 {
				font-size: 14px;
				margin: 0 0 20px 0;
				text-transform: uppercase;

				@include media ($medium-screen-up) { 
					font-size: 18px;
				}
			}

			button {
				border: 3px solid black;
				color: black;
				background: transparent;
				border-radius: 0;
				padding: 6px 20px;
				text-transform: uppercase;
				outline: 0;
				transition: all 300ms;

				@include media ($medium-screen-up) {
					padding: 6px 40px;
				}

				&:hover {
					background: black;
					color: white;
				}
			}
		}
	}
}

/*=====================================
=            CONTACTUS BOX            =
=====================================*/

#contactus {
	background: #e3e3e3;
	padding: 60px 0;
	text-align: center;

	@include media ($medium-screen-up) { 
		text-align: left;
	}

	h3 {
		font-size: 16px;
		margin: 0 0 20px 0;
		text-transform: uppercase;
		margin: 0 0 20px 0;
		width: 100%;
		text-align: center;
		line-height: 1.6;
		

		@include media ($medium-screen-up) { 
			font-size: 18px;
			width: auto;
			text-align: left;
			float: left;
			margin: 0;
			line-height: 40px;
		}

		@include media ($large-screen-up) { 
			font-size: 35px;
		}
	}

	a {
		border: 3px solid black;
		color: black;
		background: transparent;
		border-radius: 0;
		padding: 6px 40px;
		text-transform: uppercase;
		outline: 0;
		transition: all 300ms;
		margin: 0 auto;

		&:hover {
			background: black;
			color: white;
		}
		
		@include media ($medium-screen-up) { 
			float: right;
			margin: 0;
		}
	}
}


/*===========================
=            CTA            =
===========================*/

#cta {
	text-align: center;
	padding: 60px 0;

	@include media ($medium-screen-up) {
		padding: 100px 0;
	}

	min-height: 400px;
	background: transparent;

	h1 {
		margin: 0 0 40px 0;
		text-align: center;
		font-size: 25px;
		color: white;

		@include media ($medium-screen-up) {
			font-size: 35px;
		}

		@include media ($large-screen-up) {
			font-size: 45px;
		}
	}

	p, a {
		color: white;
	}
}

/*===============================
=            Conatct            =
===============================*/

.contact {

	#main {

		.entry-content, .entry-header {

			p {
				text-align: left;
			}
		}
	}
}